@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Plaster";
  font-weight: normal;
  src: url("../fonts/Plaster-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pangolin";
  font-weight: normal;
  src: url("../fonts/Pangolin-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pirata One";
  font-weight: normal;
  src: url("../fonts/PirataOne-Regular.ttf") format("truetype");
  font-display: swap;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../images/bg-header.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 81px;
  gap: 28px;
}

.faq__block {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 31.85px;
  box-shadow: 2.73px 6.37px 10.01px 0px rgba(0, 0, 0, 0.35);
  background: rgb(180, 210, 252);
  width: 56.597vw;
}

.faq__title-block {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  outline: none;
  align-items: flex-start;
  padding: 28px 28px 21px 27px;
}
.faq__title-block::-webkit-details-marker {
  display: none;
}

.faq__arrow {
  transition: transform 0.3s ease;
  width: 31px;
  -o-object-fit: fill;
     object-fit: fill;
  height: auto;
}

details[open] .faq__arrow {
  transform: rotate(180deg);
}
details[open] .faq__text::after {
  content: "";
}

.faq__content {
  padding: 0px 28px 21px 27px;
  max-height: 0;
  overflow: hidden;
}

details[open] .faq__content {
  max-height: 500px;
  transition: max-height 0.7s ease-out;
}

.faq__text::after {
  content: "...";
  display: inline;
}

.faq__title {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-align: left;
}

.faq__text {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  text-align: left;
  margin-right: 2vw;
}

.faq__text-sub {
  margin-top: 10px;
}

.block-header {
  display: flex;
  justify-content: center;
  gap: 3.1vw;
  padding-top: 6vw;
}

.block-header__big-img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 17.916vw;
  height: auto;
}

.block-header__text-img {
  flex-basis: 513px;
  text-align: right;
  padding-top: 70px;
}

.block-header__text {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 0.97em;
  letter-spacing: 0.02em;
  text-align: right;
  text-transform: lowercase;
  margin-bottom: 21px;
}

.dots {
  -o-object-fit: fill;
     object-fit: fill;
  width: 15vw;
  height: auto;
}

.toggleButton {
  border-radius: 8.24px;
  background: rgba(84, 132, 195, 0.65);
  padding: 24px 35.42px;
  border: 0px solid;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 21.98px;
  font-weight: 600;
  line-height: 7.56px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: lowercase;
}

.info-button__title {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 16px;
}

.info-button__smalltext {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.19em;
  letter-spacing: 0.02em;
  text-align: center;
  width: 50vw;
  text-transform: lowercase;
}

.info-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  gap: 31px;
  padding-bottom: 38px;
}

@media (min-width: 1600px) {
  .block-header__text {
    font-size: 2.25vw;
    line-height: 1.1em;
  }
  .dots {
    width: 14vw;
  }
  .faq__title {
    font-size: 1.8vw;
  }
  .faq__text {
    font-size: 1.3vw;
  }
  .info-button__title {
    font-size: 2vw;
  }
  .info-button__smalltext {
    font-size: 1.7vw;
  }
  .toggleButton {
    font-size: 1.3vw;
    padding: 1.3vw;
  }
}
@media (max-width: 1200px) {
  .block-header__text {
    font-size: 3vw;
    margin-bottom: 1.3vw;
  }
  .block-header__big-img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 24vw;
    height: auto;
  }
  .block-header {
    gap: 4.1vw;
    padding-top: 7vw;
    padding-right: 19vw;
    padding-left: 19vw;
  }
  .faq__title {
    font-size: 3vw;
  }
  .faq__text {
    font-size: 2vw;
  }
  .info-button__title {
    font-size: 3vw;
    margin-bottom: 1vw;
  }
  .info-button__smalltext {
    font-size: 2.5vw;
  }
  .toggleButton {
    font-size: 2vw;
    padding: 2vw;
  }
  .info-button {
    padding-top: 4vw;
    gap: 3vw;
  }
  .faq {
    gap: 2vw;
  }
  .faq__block {
    width: 70vw;
  }
}
@media (max-width: 760px) {
  .block-header {
    gap: 4.1vw;
    padding-top: 13vw;
    padding-right: 3vw;
    padding-left: 3vw;
    align-items: center;
  }
  body {
    background-image: url(../images/bg-header-mobail.svg);
  }
  .block-header__big-img {
    width: 32vw;
  }
  .block-header__text {
    font-size: 4.5vw;
    margin-bottom: 1.6vw;
  }
  .dots {
    width: 21vw;
  }
  .block-header__text-img {
    padding-top: 0px;
  }
  .faq {
    gap: 2vw;
    padding-top: 7vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .faq__block {
    width: 100%;
  }
  .faq__title {
    font-size: 4.07vw;
  }
  .faq__text {
    font-size: 2.8vw;
  }
  .faq__arrow {
    width: 5vw;
  }
  .faq__title-block {
    padding: 3vw 3vw 2.5vw 3vw;
  }
  .faq__text {
    font-size: 2.8vw;
    line-height: 1.1em;
  }
  .faq__block {
    border-radius: 6vw;
  }
  .info-button__title {
    font-size: 4vw;
  }
  .info-button__smalltext {
    font-size: 3vw;
    line-height: 1.2em;
  }
  .toggleButton {
    font-size: 3vw;
    padding: 3vw;
  }
  .faq__content {
    padding: 0vw 4vw 4vw 4vw;
  }
}
@media (max-width: 480px) {
  .info-button__smalltext {
    font-size: 3vw;
    line-height: 1em;
  }
  .faq__text-sub {
    margin-top: 2vw;
  }
  .block-header__text {
    font-size: 5.2vw;
  }
  .block-header__big-img {
    width: 29vw;
  }
}/*# sourceMappingURL=faq.css.map */
